<div class="container">
	<div class="small-gap panel panel-default">
	  <div class="panel-body">
		<h2 class="row-centered">LightRoom - {{rest.live_text}}</h2>
      	<hr class="featurette-divider">

      	<div class="row row-centered">
	      		<button class="btn btn-success col-xs-10 col-centered" ng-click="togglelighting();">{{rest.toggle_text}}</button>
      	</div>

      	<hr class="featurette-divider">

      	<div class="row">
      		<b class="col-xs-12" style="text-align: center;">Brightness</b>
      	</div>

      	<div class="row row-centered">
      		<input class="col-centered" style="width: 80%;" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
      	</div>

      	<hr class="featurette-divider">

      	<div class="row">
      		<b class="col-xs-12" style="text-align: center;">Colour Presets</b>
      	</div>

      	<div style="margin-top: 15px;" class="row row-centered">
	      			<button class="btn btn-default col-xs-2 col-centered" ng-click="white();">White</button>
	      			<button class="btn btn-default col-xs-2 col-centered" ng-click="red();">Red</button>
	      			<button class="btn btn-default col-xs-2 col-centered" ng-click="green();">Green</button>
	      			<button class="btn btn-default col-xs-2 col-centered" ng-click="blue();">Blue</button>
      	</div>

      	<hr class="featurette-divider">

      	<div class="row">
      		<b class="col-xs-12" style="text-align: center;">Colour Control</b>
      	</div>

      	<div style="margin-top: 15px;" class="row row-centered">
      		<div class="col-xs-3 col-centered">
				<div class="input-group" style="">
				  <span class="input-group-addon" id="basic-addon1">R</span>
				  <input ng-model="rv" type="text" class="form-control" placeholder="0" aria-describedby="basic-addon1">
				</div>
			</div>

      		<div class="col-xs-3 col-centered">
				<div class="input-group" style="margin-left: 5px;">
				  <span class="input-group-addon" id="basic-addon1">G</span>
				  <input ng-model="gv" type="text" class="form-control" placeholder="0" aria-describedby="basic-addon1">
				</div>
			</div>

      		<div class="col-xs-3 col-centered">
				<div class="input-group" style="margin-left: 5px;">
				  <span class="input-group-addon" id="basic-addon1">B</span>
				  <input ng-model="bv" type="text" class="form-control" placeholder="0" aria-describedby="basic-addon1">
				</div>
			</div>
      	</div>

      	<div style="margin-top: 15px;" class="row row-centered">
	      	<button class="btn btn-danger col-xs-10 col-centered" ng-click="commit();">Commit</button>
      	</div>

		<hr class="featurette-divider">
		<b>Reduced Log</b>
      	<hr class="featurette-divider">
		<p><pre>{{rest.logs_min}}</pre></p>

      	<hr class="featurette-divider">
      	
      	<div class="row">
	      	<a href="./#/logs" class="col-xs-12 btn btn-default">Full logs</a>
      	</div>
	  </div>
	</div>
</div>
