<div class="container">
	<div class="small-gap panel panel-default">
	  <div class="panel-body">
		<h2 class="row-centered">LightRoom - {{rest.live_text}}</h2>
      	<hr class="featurette-divider">

      	<div class="row row-centered">
	      		<button class="btn btn-success col-xs-10 col-centered" ng-click="togglelighting();">{{rest.toggle_text}}</button>
      	</div>

      	<hr class="featurette-divider">

      	<div class="row">
      		<b class="col-xs-12" style="text-align: center;">Brightness</b>
      	</div>

      	<div class="row row-centered">
      		<input class="col-centered" style="width: 80%;" id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
      	</div>

      	<hr class="featurette-divider">

      	<div class="row">
      		<b class="col-xs-12" style="text-align: center;">Colour Presets</b>
      	</div>

      	<div style="margin-top: 15px;" class="row row-centered">
	            <button class="btn btn-default col-xs-2 col-centered" ng-click="white();">White</button>
	            <button class="btn btn-default col-xs-2 col-centered" ng-click="red();">Red</button>
	      	<button class="btn btn-default col-xs-2 col-centered" ng-click="green();">Green</button>
	      	<button class="btn btn-default col-xs-2 col-centered" ng-click="blue();">Blue</button>
      	</div>

      	<hr class="featurette-divider">

      	<div class="row">
      		<b class="col-xs-12" style="text-align: center;">Colour Control</b>
      	</div>

      	<div style="margin-top: 15px;" class="row row-centered">
                  <div>Red</div> <input class="col-centered" style="width: 80%;" id="r" data-slider-id='rSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/><br/>

                  <div>Green</div> <input class="col-centered" style="width: 80%;" id="g" data-slider-id='gSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/><br/>

                  <div>Blue</div> <input class="col-centered" style="width: 80%;" id="b" data-slider-id='bSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/>
      	</div>

      	<div style="margin-top: 15px;" class="row row-centered">
	      	<button class="btn btn-danger col-xs-10 col-centered" ng-click="commit();">Commit</button>
      	</div>

		<hr class="featurette-divider">
		<b>Reduced Log</b>
      	<hr class="featurette-divider">
		<p><pre>{{rest.logs_min}}</pre></p>

      	<hr class="featurette-divider">
      	
      	<div class="row">
	      	<a href="./#/logs" class="col-xs-12 btn btn-default">Full logs</a>
      	</div>
	  </div>
	</div>
</div>
